# *.js filter=lfs diff=lfs merge=lfs -text
# sagas/*.js filter=lfs diff=lfs merge=lfs -text
# pages/*.js filter=lfs diff=lfs merge=lfs -text
# reducers/*.js filter=lfs diff=lfs merge=lfs -text
# store/*.js filter=lfs diff=lfs merge=lfs -text
# util/*.js filter=lfs diff=lfs merge=lfs -text
# hooks/*.js filter=lfs diff=lfs merge=lfs -text
# components/*.js filter=lfs diff=lfs merge=lfs -text
# *.pack filter=lfs diff=lfs merge=lfs -text
